// Colors
$primary-color: #B4DAD7;
$primary-color-darken: #475756;
$secondary-color: #FF6347;
$background-color: #1F2426;

// Text
$line-height: 1.75;

// Breakpoints
$bp-sm: 40rem;
$bp-md: 60rem;
$bp-lg: 70rem;
$bp-xl: 90rem;
$bp-xxl: 100rem;
